*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home_button { 
  text-align: center;
}


.homepicture { 
  border-radius: 50%; 
  height: 50px; 
  width: 50px; 
  
  /* Center the image*/
  display:block; 
  margin:0cap; 
}

body {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 16px;
  background-color: beige;
  

}

header {
  background-color: chocolate;

}

button {
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  align-items: center;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);

}

.container {
  width: 95%;
  margin: 0%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  background: chocolate;
}

.nav button{
  font-family: Arial, Helvetica, sans-serif;
}

.create_box {
  width: 380px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px; 
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

}

.create_box {
  width: fit-content;
}

.flashcards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: auto; 
  margin-top: 10px;
  padding: 0 10px; 

}

.flashcard {
  width: 370px;
  height: 200px;
  word-wrap: break-word;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  perspective: 1000px;

}




.flashcard h2{
  font-size: 1rem;
  text-align: center;
}

@media(max-width:768px){
  .flashcard{
    margin: auto;
  }

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width:480px){
  .nav{
    flex-direction: column;
    align-items: center;
  }

  .create_box{
    width: 100%;
    align-items: center;
  }

  .flashcard{
    width: 100%;
    align-items: center;
  }
}
/* BELOW IS FOR QUIZZER */ 

.create_quiz {
  width: 800px;
  height: 400px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px; 
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

}



